html {
  background-color: rgba(242, 191, 191, 0.582);
}

.app {
  text-align: center;
}

.header {}

.body {}

.footer {}

.ul-menu {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}

.ul-product {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  font-size: 20px;
}